# This requirements.txt file lists all the dependencies required for the project.

agate
alabaster
altair
annotated-types
appmap
asn1crypto
attrs
autocommand
babel
backports.tarfile
beautifulsoup4
black
blinker
boto3
botocore
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
ConfigArgParse
contourpy
cryptography
cssselect
cycler
daff
dbt-adapters
dbt-common
dbt-core
dbt-extractor
dbt-postgres
dbt-redshift
dbt-semantic-interfaces
dbt-snowflake
deepdiff
diagrams
dictdiffer
distlib
docutils
exceptiongroup
filelock
Flask
Flask-Cors
Flask-Login
fonttools
gevent
geventhttpclient
gherkin-official
gitdb
GitPython
graphviz
greenlet
idna
imagesize
importlib-metadata
importlib_resources
inflect
inflection
iniconfig
isodate
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jaraco.text
Jinja2
jmespath
jsonschema
jsonschema-specifications
keyring
kiwisolver
leather
locust
lxml
Mako
markdown-it-py
MarkupSafe
mashumaro
matplotlib
mdurl
mock
more-itertools
mpld3
msgpack
mypy-extensions
narwhals
networkx
numpy
ordered-set
orderly-set
packaging
pandas
parse
parse_type
parsedatetime
pathspec
pillow
pip
pipenv
platformdirs
pluggy
polars
prettier
protobuf
psutil
psycopg2-binary
pyarrow
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyJWT
pyOpenSSL
pyparsing
pytest
pytest-bdd
python-dateutil
python-slugify
pytimeparse
pytz
PyYAML
pyzmq
readability-lxml
redshift-connector
referencing
requests
rich
rpds-py
s3transfer
scramp
setuptools
six
smmap
snowballstemmer
snowflake-connector-python
snowflake-snowpark-python
snowplow-tracker
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
streamlit
tenacity
text-unidecode
toml
tomli
tomlkit
tornado
typeguard
types-requests
types-urllib3
typing_extensions
tzdata
tzlocal
urllib3
virtualenv
Werkzeug
wheel
zipp
zope.event
zope.interface
