# Requirements file for the Streamlit application
# This file lists the Python packages required to run the app

requests

# Snowflake Snowpark Python library for connecting to Snowflake and performing data operations
snowflake-snowpark-python

# Streamlit library for creating interactive web applications
streamlit
